<h1>Tiny App</h1>

<h1>Login:</h1>
<form method="POST" action="/login">
  <input type = "text" name = "username" size = "30"/>
  <button type="submit">Sign in</button>
</form>

<div><b><%= username %></b></div>
