<h1>Tiny App</h1>



  <% if(user){ %>
    <text>"Logged In As:"<%= user.email %></text>
    <form action="/logout" method="POST">
        <button name="foo" value="Logout">Logout</button>
    </form>
   <% } else{ %>
<a href="/register/">Register</a>
<a href="/login/">Login</a>
  <% } %>
